<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/semantic/semantic.min.css">
    <link rel="stylesheet" href="../css/semantic/semanticuialert.css">
    <link rel="stylesheet" href="../styles/dashboard.css">
    <script src="../css/semantic/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="../scripts/plotly-latest.min.js"></script>

    <script type="text/javascript" src="../css/semantic/semantic-ui-calendar/calendar.min.js"></script>
    <link rel="stylesheet" href="../css/semantic/semantic-ui-calendar/calendar.min.css" />
    <title>FEDS | Safety First</title>
</head>

<body>