
<script src="../css/semantic/semantic.min.js"></script>
<script src="../css/semantic/semanticuialert.js"></script>
<script src="../scripts/flash-messages.js"></script>
<script src="config-alarm.js"></script>
<script src="messenger.js"></script>
<script type="text/javascript">
   
    function toggle()
    {
            console.log('hello');
            $('#sidebar').sidebar({
                dimPage:false
            }).sidebar('toggle');

    }
                       
</script>

</body>

</html>

