<html>
    <head>
        <script src="../css/semantic/jquery.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
    </head>
    <body>
        <script src="sensors.js"> </script>
    </body>
</html>