.container
{
    margin: auto;
    width: 50%;
 
}
.wrapper
{
    padding:10% 0 25% 0;
    background-color: rgb(223, 217, 217); 
    height: 100%;
    width: 100%;
}
#buttonShow{
    cursor: pointer;
}