<div class="ui active tab" data-tab="GF">
    <span class="ui black ribbon large label">Ground Floor STI Building </span>
    <!-- <map name="b1-GF">
            <area data-tooltip="Media Room" data-position="right center" data-inverted="" alt="Media Room"  coords="855,1246,36,803" shape="rect">
            <area data-tooltip="C4" data-position="right center" data-inverted="" alt="C4"   coords="1207,36,1613,493" shape="rect">
            <area data-tooltip="C3" data-position="right center" data-inverted="" alt="C3"   coords="1205,803,1607,1241" shape="rect">
            <area data-tooltip="C2" data-position="right center" data-inverted="" alt="C2"  coords="2028,41,1622,486" shape="rect">
            <area data-tooltip="C1" data-position="right center" data-inverted="" alt="C1"   coords="1624,800,2030,1239" shape="rect">
            <area data-tooltip="MEN CR" data-position="right center" data-inverted="" alt="MEN CR"  coords="2183,47,2364,373" shape="rect">
            <area data-tooltip="FEMALE CR" data-position="right center" data-inverted="" alt="FEMALE CR"   coords="2378,42,2549,373" shape="rect">
            <area data-tooltip="ENTRANCE LOBBY" data-position="right center" data-inverted="" alt="ENTRANCE LOBBY"  coords="883,512,1169,1230" shape="rect">
            <area data-tooltip="COMLAB HALLWAY" data-position="right center" data-inverted="" alt="COMLAB HALLWAY"  coords="1205,526,2521,765" shape="rect">
            <area data-tooltip="STAIR MAIN" data-position="right center" data-inverted="" alt="STAIR MAIN"  coords="855,108,1177,453" shape="rect">
            <area data-tooltip="STAIR NEAR CR" data-position="right center" data-inverted="" alt="STAIR NEAR CR" coords="2211,819,2523,1096" shape="rect">
        </map> -->
    <img class="ui massive centered rounded image" src="../images/map-images/floor-plan-groundfloor.png" usemap="#image-map">
</div>

<div class="ui tab" data-tab="2F">
    <span class="ui black ribbon large label">2nd Floor STI Building </span>
    <map name="image-map">

    </map>
    <img class="ui massive centered rounded image" src="../images/map-images/floor-plan-secondfloor.png" usemap="#image-map">
</div>

<div class="ui tab" data-tab="3F">
    <span class="ui black ribbon large label">3rd Floor STI Building </span>
    <map name="map-3rd">
        <area target="" alt="faculty" title="faculty" href="" coords="46,1216,42,1826,112,1821,116,1453,431,1457,431,1830,553,1821,545,1752,852,1748,844,1351,525,1343,353,1334,361,1220"
            shape="poly">
        <area target="" alt="faculty_indicator_fire" id="fac_fire" title="faculty_indicator_fire" href="" coords="120,1457,431,1637"
            shape="rect">
        <area target="" alt="faculty_indicator_smoke" id="fac_smoke" title="faculty_indicator_smoke" href="" coords="120,1645,422,1830"
            shape="rect">
        <area target="" alt="AVR" title="AVR" href="" coords="553,407,709,681" shape="rect">
        <area target="" alt="AVR_indicator_fire" title="AVR_indicator_fire" href="" coords="709,407,856,533" id="avr_fire" shape="rect">
        <area target="" alt="AVR_indicator_smoke"  id="avr_smoke" title="AVR_indicator_smoke" href="" coords="709,529,852,677" shape="rect">
    </map>


    <div id="img-container" style="position: absolute;">
        <img class="ui fluid image" src="../images/map-images/floor-plan-thirdfloor.png" usemap="#map-3rd"
            id="3rd-floor">
    </div>


</div>

<div class="ui tab" data-tab="GYM">
    <span class="ui black ribbon large label">STI Gymnasium</span>
    <map name="image-map">

    </map>
    <img class="ui fluid image" src="../images/map-images/floor-plan-coveredcourt.png" usemap="#image-map">
</div>

<div class="ui custom popup top left transition hidden">
    I'm not on the same level as the button, but i can still be found.
</div>