
<script src="../css/semantic/semantic.min.js"></script>
<script src="../css/semantic/semanticuialert.js"></script>
<script src="../scripts/flash-messages.js"></script>
<script src="../scripts/datatables.semanticui.min.js"></script>
<script src="acc-mgt.js"></script>

</body>

</html>

