<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/semantic/semantic.min.css">
    <link rel="stylesheet" href="../css/semantic/semanticuialert.css">
    <script src="../css/semantic/jquery.min.js"></script>
    <script src="../scripts/jquery.datatables.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <title><%=title %> </title>
</head>

<body class="menu">
  